<div class="row">

	<div class="col" id="about">
		<h2 id="home-title">On Wokeness</h2>
		
    	<img id="about-image" src="https://images.unsplash.com/photo-1531831244964-750f0b40e3b4?ixlib=rb-0.3.5&s=569570e74f4d37a8e3237a7293087190&auto=format&fit=crop&w=1000&q=80"
    	alt="Image of a woman with her hands touching her earrings.">
    	<p id="about-image-description"> Image Description: Woman with her hands touching her earrings. </p>	
   </div> 

	<div class="col" id="about">
		<div id="about-quote-block">
		
		<blockquote class="blockquote text-center">
  			<p class="mb-0">"[To be woke] is an encouragement for people to wake up and question dogmatic social norms. It requires an active process of deprogramming social conditionings focusing on consistent efforts to challenge the universal infractions we are all subjected to."</p>
  			<p> &mdash;Raven Cras, <cite title="Source Title"><a href="https://blavity.com/what-does-it-mean-to-be-woke/" target="__blank">"What does it mean to be "woke?"</a></cite></p>
		</blockquote>

		</div>
   </div> 
</div>

<div class="row">
	<div class="col" id="about">
		<p id="about-text"> The goal of this site is simple: to provide a way to educate yourself on your privileges and issues affecting different marginalized communities. Start exploring this site through the featured topics below or the other topics listed at the top of the <a href="#">page</a>. </p>
	</div>


</div> 

