<div class="row">
  <div class="col" id="about">
    <h2>On Wokeness</h2>

    <blockquote class="blockquote text-center">
  <p class="mb-0"><span id="about-quote">&ldquo;</span>[To be woke] is an encouragement for people to wake up and question dogmatic social norms. It requires an active process of deprogramming social conditionings focusing on consistent efforts to challenge the universal infractions we are all subjected to.
  	<span id="about-quote">&rdquo;</span></p>
  	<footer class="blockquote-footer">Raven Cras,<cite title="Source Title"><a href="https://blavity.com/what-does-it-mean-to-be-woke/">"What does it mean to be "woke?"</a></cite></footer>
	</blockquote>
 	<p id="about-text"> The goal of this site is simple: to provide a way to educate yourself on your privileges and issues affecting different marginalized communities.<br>Start exploring this site through the featured topics below or the other topics listed at the top of the <a href="#">page</a>. </p>
    </div>
</div>