<div class="row">
    <div class="col" id="faq">
        <h2>Frequently Asked Questions</h2>

        <h3 >Why is this site called So You Want to be Woke?</h3>
        <p id="faq-q">This site came out of a need we noticed happening around us: people saying problematic things or being
        unaware of the various privileges they had. We wanted a way to help educate people on different topics to make it easier to give someone an initial set of resources to get "woke" on a topic. The site'sname is meant to be fun and play on the reoccurring idea of becoming more aware of issues within our society. We hope this site is helpful to those who visit it as they learn about injustices people around them may face and how they can be better allies for these people. </p>

        <h3>How do I contribute content?</h3>
        <p id="faq-q">We're always excited to showcase new content on the website.
            To submit content, use this <a href="https://goo.gl/forms/RHFMLtUwCefzVY722">form</a>.
        </p>
        
        <h3 id="intersectionality">What about intersectionality?</h3>
        <p id="faq-q">This is a valid and important question. While this site is organized by individual topics, it is important to understand that a person can be impacted by multiple of these topics. For instance, a black man may face racial discrimination, but a black, disabled woman may face discrimination both racially and based on their gender. Select content in given topics attempt to discuss these types of issues and are denoted with a green "Intersectional" flag. </p>

        <h3> How do I contribute to the site's development?</h3>
        <p id="faq-q"> The code for this website is open-sourced and can be found on <a href="https://github.com/woke/woke.github.io"> GitHub</a>. To make an update to the site's code, make and submit a pull request.
        Alternatively, you can support site development/content sourcing by donating <a href="https://www.buymeacoffee.com/woke">here</a>.

        </p>
        <h3>Who is the team behind the site?</h3>
        <p id="faq-q">You can learn more about our team by visiting our <a href="/#team">team</a> section below.</p>
     
    </div>
</div>
</div>