<div class="row">
    <div class="col" id="faq">
        <h2>Frequently Asked Questions</h2>

        <h3 >Why is this site called So You Want to be Woke?</h3>
        <p id="faq-q">This site came out of a need we noticed happening around us&mdash; people saying problematic things or being
        unaware of the various privileges they had. We wanted a way to help educate people on different topics to make it easier to give someone an initial set of resources to get woke on a topic. The site's name is meant to be fun and play on the reoccurring idea of becoming more aware of issues within our society. We hope this site is helpful to those who visit it as they learn about injustices people around them may face and how they can be better allies for these people. </p>

        <h3>How do I contribute content?</h3>
        <p id="faq-q">We're always excited to showcase new content on the website.
            To submit content, click <a href="https://goo.gl/forms/RHFMLtUwCefzVY722">here</a>.
        </p>
        
        <h3 id="intersectionality">What about intersectionality?</h3>
        <p id="faq-q">This is a valid and important question. While this site is organized by categories, it is important to understand that a person can be impacted by multiple of these topics. For instance, a black man may face racial discrimination, but a disabled woman may face discrimination for their disability and their gender. Select content in given categories attempt to discuss these types of issues and are denoted with a green "Intersectional" flag. To learn more about intersectionality and its origins, check out this <a href="https://www.ywboston.org/2017/03/what-is-intersectionality-and-what-does-it-have-to-do-with-me/" target="__blank">article</a>. </p>

        <h3> How do I contribute to the site's development?</h3>
        <p id="faq-q"> The code for this website is open-sourced and can be found on <a href="https://github.com/woke/woke.github.io"> GitHub</a>. To make an update to the site's code, make and submit a pull request.
        Alternatively, you can support site development/content sourcing by donating <a href="https://www.buymeacoffee.com/woke">here</a>.

        </p>
        <h3>Who is the team behind the site?</h3>
        <p id="faq-q">We're a group of friends united around creating a more inclusive society and supporting marginalized voices. You can learn more about us by visiting the <a href="/team">team</a> page.</p>
     
    </div>
</div>
</div>
