 <div class="row" id="intersectional">
    <div class="col" id="faq">
      <h2>💡 Remember Intersectionality </h2>
      <br/>
      <div class="card">
              <div class="card-header">
                Intersectionality
              </div>
              <div class="card-body">
                <h5 class="card-title">Intersectionality</h5>
                <p class="card-text">"The interconnected nature of social categorizations such as race, class, and gender, regarded as creating overlapping and interdependent systems of discrimination or disadvantage; a theoretical approach based on such a premise."<br/> - Oxford Dictionary</p>
                <a href="https://www.ywboston.org/2017/03/what-is-intersectionality-and-what-does-it-have-to-do-with-me/" class="btn btn-primary">Definition Source</a>
              </div>
            </div>
      <br/>

      <h4 id="about-text"> This topic should be considered from multiple perspectives. </h4>
      <br/>
  
      </div>
  </div>