

      <nav class="navbar navbar-expand-lg navbar-custom navbar-dark nav-fill" id="intro">
            <a class="navbar-brand" href="/"> 
              <span id="woke-logo-text"> So You Want To Be<br><span id="woke-big">Woke</span> </span> 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/category/gender">Gender</a>
                    <a class="dropdown-item" href="/category/race">Race</a>
                    <a class="dropdown-item" href="/category/nationality">Nationality</a>
                    <a class="dropdown-item" href="/category/ability">Ability</a>
                    <a class="dropdown-item" href="/category/sexuality">Sexuality</a>
                    <a class="dropdown-item" href="/category/class">Class</a>
                    <a class="dropdown-item" href="/category/religion">Religion</a>
                    <a class="dropdown-item" href="/category/age">Age</a>
                    <!--<div class="dropdown-divider" style="border-color:black;"></div> 
                    <a class="dropdown-item" target="__blank "href="http://bit.ly/wokecontent">Contribute</a>
                  </div> -->

                  <!--<li class="nav-item">
                  <a class="nav-link" href="/#about">About</a>
                </li> -->
                
                <li class="nav-item">
                  <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQ</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" target="__blank" href="http://bit.ly/wokecontent">Submit</a>
                </li>
              </ul>

            </div>
          </nav>

