<div class="row">
  <div class="col" id="about">
    <h2>About </h2>
    <p id="about"> &emsp; To be woke is to be aware of the injustices in our society and actively challenge them as explained in Raven Cras's <a href="https://blavity.com/what-does-it-mean-to-be-woke/"> Blavity op-ed</a>. The process of becoming woke can be long and can be challenging especially if you don't know where to start. </p> 

    <p id="about"> &emsp; This site was created to help people become more aware of the issues facing different marginalized communities.
    Some of these topics may be ones you are aware of and others not.
    By making this site, we hope to help people affected by these issues have an easy reference to  provide people who may ask them to educate them on the topic and for those interesting in learning, provide an initial set of links to assist them in their progress to becoming woke.</p>

    <p id="about">To get started, check out one of the featured topics <a href="#featured-topics">below</a> or the full set of sections at the top of the <a href="#">page</a>.

    </div>
</div>