<div class="row">
  <div class="col" id="topics-resources">
    <h2 id="featured-topics"> Featured Topics </h2>
    <div class="card-deck" id="card-deck">


      <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header">Inclusivity in the Workforce</div> 
        <div class="card-body" id="featured-card">
        <h5 class="card-title">Diversity vs. Inclusivity</h5>
        <p class="card-text">Learn about why diversity and inclusivity matter and how you can support yourself and your colleagues.</p>
        <a class="btn btn-success" href="/topics/inclusivity" role="button">Learn More</a>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header">Racial Identity</div>
        <div class="card-body" id="featured-card">
        <h5 class="card-title">Living as a Person of Color</h5>
        <p class="card-text">Being a person of color in America often has its unique challenges. Learn about them and how you can be an ally.</p>
        <a class="btn btn-success" href="/topics/racial%20identity" role="button">Learn More</a>
        </div>
      </div> 

      <!-- <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header">Mental Health</div>
        <div class="card-body" id="featured-card">
        <h5 class="card-title">Seeking Support</h5>
        <p class="card-text">For many communities, talking about mental health is stigmatized. Learn more about your mental health and ways to practice self-care and support those around you.</p>
        <a class="btn btn-success" href="/topics/mental%20health" role="button">Learn More</a>
        </div>
      </div> -->

      <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header">Feminism</div>
        <div class="card-body" id="featured-card">
        <h5 class="card-title">We Should All Be Feminists </h5>
        <p class="card-text">People often tend to misinterpret what feminism is. Learn more about the topic and ways to better support the equality of the sexes.</p>
        <a class="btn btn-success" href="/topics/feminism" role="button">Learn More</a>
        </div>
      </div> 

    </div>

    <p id="other-topics">For other topics, see the current topics under the <a href="/#">Topics</a> dropdown at the top of the page.</p>
    </div>
</div>