<h2 id="team"> The Team </h2>
<div class="card-deck" id="team-cards">
  <div class='card mx-auto'>
  <div class='card-img-top'>
    <img alt='Picture of Team Member' class='img-fluid' src='{{url_for('static', filename='img/will.jpg')}}'>
  </div>
  <div class='card-block'>
    <h4 class='card-title'>Will Essilfie</h4>
    <p class='card-text'>Will is a graduate of Columbia University where he studied Computer Science and served as a campus publication Editor in Chief as well as working on ADI. He's now working as a Data Scientist in the Bay Area. </p>
    <a class='btn btn-primary' target="_blank" href='https://twitter.com/WillEssilfie'>
    <i class="fab fa-twitter"></i>
      
    </a>
  </div>
</div>

  <div class='card mx-auto'>
  <div class='card-img-top'>
    <img alt='Picture of Team Member' class='img-fluid' src='{{url_for('static', filename='img/lesley.jpg')}}'>
  </div>
  <div class='card-block'>
    <h4 class='card-title'>Lesley Cordero</h4>
    <p class='card-text'>Lesley is an ardent advocate for increasing diversity within the technology sector. Studying Computer Science at
    Columbia, she has been an active member of Columbia Quest Scholars and ADI.</p>
    <a class='btn btn-primary' target="_blank" href='https://twitter.com/lesleyclovesyou'>
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>

  <div class='card mx-auto'>
  <div class='card-img-top'>
    <img alt='Picture of Team Member' class='img-fluid' src='{{url_for('static', filename='img/yefri.jpg')}}'>
  </div>
  <div class='card-block'>
    <h4 class='card-title'>Yefri Gaitan</h4>
    <p class='card-text'>Yefri is a current Computer Science student at Columbia. He enjoys programming, and ramen and is a part of Columbia's ADI committee.</p>
    <a class='btn btn-primary' target="_blank" href='https://twitter.com/YefriGaitan1'>
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>

  
</div>
