<!DOCTYPE HTML>

{% include header.html %}

<html>
<body>
    {% include nav.html %}
<div class="text-center intro-text"id="intro-page">
    <div id="centering-new-lines">
        <br>
    </div>
    <p class="animated zoomIn" id="home-text">So you want to be woke on<br/> {{page.title}}.</p>
    
    {% include down-arrow.html %}
</div> 

<div class="container-fluid">
    <div class="row">
      <div class="col" id="about">
        <h2 id="about"> Understanding {{page.title}} </h2>
        <br/>
        <div class="card">
                <div class="card-header">
                  What is {{page.title}}?
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{page.section_name}}</h5>
                  <p class="card-text">{{page.definition}}</p>
                  <a href="{{page.def_source}}" target="__blank" class="btn btn-primary">Definition Source</a>
                </div>
              </div>
        <br/>

        <br/>
    
        </div>
    </div>
    <div class="row">
        <div class="col" id="resources">
            <h2> Resources</h2>
            <h4>Want to recommend more content? See <a href="/#faq">here</a> for how to submit.</h4><br/>  
            <div class="container"><div class="card-group vgr-cards" id="resource-cards">
              {{content}}
            </div>  


            <p>Photos above from <a href="https://unsplash.com/">Unsplash</a>. </p>
        </div>
    </div>
</div> 
      <script>
        var colors = ['#F44336','#3F51B5','#673AB7','#2D3436', '#130f40',
        '#6AB04C', '#000000', '#EB4D4B', '#30336B', '#ED4C67', '#EE5A24', '#E84118', '#CC0033'];
    var random_color = colors[Math.floor(Math.random() * colors.length)];
    document.body.style.backgroundColor = random_color;
    </script>
{% include footer.html %}
</body>
</html>